
.base_layout{
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.header{
  position: relative;
  z-index: 10;
  max-width: 100%;
  padding: 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
  .row{
    row-gap: 0px;
    flex-flow: nowrap;
    height: 64px;
    h2{
      margin-left: 40px;
    }
  }
  .menu_row{
    display: flex;
    align-items: center;
    margin: 0;
  }
  .search_box{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1!important;
    -ms-flex: auto!important;
    flex: none!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 22px;
    margin: 0 auto 0 0!important;
    padding-left: 16px;
    line-height: 22px;
    white-space: nowrap;
    border-left: 1px solid #f0f0f0;
    -webkit-transition: width .5s;
    transition: all .3s cubic-bezier(.78,.14,.15,.86);
  }
  .search_icon{
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    left: auto;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: #ced4d9;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    &:hover{
      color: $color-common;
    }
  }
  .input_wrap{
    position: relative;
    display: inline-block;
    direction: ltr;
    input{
      position: relative;
      vertical-align: top;
      width: 100%;
      max-width: 200px;
      padding-left: 20px;
      font-size: 14px;
      background: 0 0;
      border: 0;
      box-shadow: none;
      text-overflow: ellipsis;
    }
  }
  .icon_wrap{
    padding: 0 10px;
  }
  .header_img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .drop_down_wrap{
    margin-right: 40px;
    a{
      color: $color-common;
    }
  }
}